<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Todo</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Todo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:if="${user.userName=='Гость'}" th:href="@{/loginPage}">
                    <span th:text="${user.userName}">| Войти</span>
                    <span> | Войти</span>
                </a>
                <a class="nav-item nav-link" th:if="${user.userName!='Гость'}" th:href="@{/logout}">
                    <span th:text="${user.userName}"></span>
                    <span> | Выйти</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div>
            <a class="dropdown-toggle" data-toggle="dropdown">Сортировка задач<span class="caret"></span></a>
            <ul class="dropdown-menu pull-right">
                <li><a th:href="@{/indexAll}">Все</a></li>
                <li><a th:href="@{/indexNew}">Новые</a></li>
                <li><a th:href="@{/indexDone}">Выполненые</a></li>
            </ul>
        </div>
        <br>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Задачи</th>
                <th scope="col">Дата</th>
                <th scope="col">Прогресс</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,state: ${items}"
                th:if="${(sort=='done' && item.done)
                        || (sort=='all' || sort==null)
                        ||(sort=='new' && item.created?.getDayOfYear()== time.getDayOfYear())}">

                <td th:text="${state.count}"></td>
                <td>
                    <a th:text="${item.itemName}"
                       th:href="@{|/getDescription/${item.id}|}"></a>
                </td>
                <td th:text="${item.created}"></td>
                <td th:if="${item.done}">
                    <i class="fa fa-check-circle"></i>
                </td>
                <td th:if="${!item.done}">
                    <i class="fa fa-circle-o"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" th:href="@{/addItem}">Добавить задачу</a>
</div>
</body>
</html>